<button nz-button (click)="sfdrs()">缩放到瑞士</button>(匹配高度)&nbsp;
<button nz-button (click)="sfdrs2()">缩放到瑞士2</button>(匹配最合适的分辨率)&nbsp;
<button nz-button (click)="sfdrs3()">缩放到瑞士3</button>(匹配宽度)&nbsp;
<button nz-button (click)="sfdls()">缩放到到洛桑</button>(使用minResolution参数)&nbsp;
<button nz-button (click)="zxddwdls()">中心定位到洛桑</button>
<div class="mapcontainer">
   <div id="map" class="map"></div>
   <div class="padding-top"></div>
   <div class="padding-left"></div>
   <div class="padding-right"></div>
   <div class="padding-bottom"></div>
   <div class="center"></div>
</div>