<h1>{{title}}</h1>
<!-- 首层路由的出口 router-outlet 会告诉路由器在哪里显示路由的视图 -->
<router-outlet></router-outlet>

<nav>
  <div class="container">
    <a nz-button nzType="primary" routerLink="/openlayerDemo1" >Demo1</a>
    <a nz-button  nzType="primary" routerLink="/openlayerDemo2" >Demo2</a>
    <a nz-button  nzType="primary" routerLink="/openlayerDemo3" >Demo3</a>
    <a nz-button  nzType="primary" routerLink="/openlayerDemo4" >Demo4</a>
    <a nz-button  nzType="primary" routerLink="/openlayerDemo5" >Demo5</a>
    <a nz-button  nzType="primary" routerLink="/openlayerDemo6" >Demo6</a>
    <a nz-button  nzType="primary" routerLink="/openlayerDemo7" >Demo7</a>
    <a nz-button  nzType="primary" routerLink="/openlayerDemo8" >Demo8</a>
    <a nz-button  nzType="primary" routerLink="/openlayerDemo9" >Demo9</a>
    <a nz-button  nzType="primary" routerLink="/openlayerDemo10" >Demo10</a>
    <a nz-button  nzType="primary" routerLink="/openlayerDemo11" >Demo11</a>
    <a nz-button  nzType="primary" routerLink="/openlayerDemo12" >Demo12</a>
    <a nz-button  nzType="primary" routerLink="/openlayerDemo13" >Demo13</a>
    <a nz-button  nzType="primary" routerLink="/openlayerDemo14" >Demo14</a>
  </div>
</nav>